BGC.Web/Localization/LocalizationSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://github.com/blattodephobia/BG_Composers" xmlns="https://github.com/blattodephobia/BG_Composers">
  <xs:element name="LocalizationKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Administration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Edit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="List">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LocalizedString" minOccurs="0" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Authentication">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Login">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="LocalizedString"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Public"/>
        <xs:element name="Global">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LocalizedString" maxOccurs="unbounded" minOccurs="0"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="LocalizedString">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Translation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="culture" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="key"/>
    </xs:complexType>
  </xs:element>
</xs:schema>